.theme-container.api-document
  font-size 14px
  
  .theme-default-content
    padding-top 3.5rem

  .sidebar
    font-size 14px

    .sidebar-links > li > a
      font-size 13px

  .page-edit
    max-width none

  .section-notes .parameter-container > ul > li
    padding-left: 1em;
    padding-right: 1em;
    letter-spacing: 0em;
    
    code
      letter-spacing: 0.1rem;

  